<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <!--Highlight.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!--KaTeX-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <!-- Calls various javascript scripts -->    
    <script async src="../js/script.js"></script>
    <script async src="../js/post-styling.js"></script>
    <!-- -->

    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">

    {{#twitterHandle}}
    <meta name="twitter:site" content="@{{twitterHandle}}">
    <meta name="twitter:creator" content="@{{twitterHandle}}">
    {{/twitterHandle}}

    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">

    {{#image}}
    <meta name="twitter:image" content="{{baseUrl}}/images/{{image}}">
    <meta property="og:image" content="{{baseUrl}}/images/{{image}}" />
    {{/image}}
    {{#url}}
      <meta property="og:url" content="{{baseUrl}}/{{url}}" />
    {{/url}}
    {{^url}}
      <meta property="og:url" content="{{baseUrl}}" />
    {{/url}}

    {{#ogType}}
    <meta property="og:type" content="{{ogType}}" />
    {{/ogType}}

    <title>{{siteTitle}}</title>
    <!-- generics -->
    <link rel="icon" href="/images/favicon-228.png" sizes="228x228">
    <link rel="icon" href="/images/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/images/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/images/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/images/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/images/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/images/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/images/favicon-32.png" sizes="32x32">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/images/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/images/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/favicon-180.png" sizes="180x180">

    <!-- Blog styles -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/landing-page.css">
    <link rel="stylesheet" href="/css/about-me.css">
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="/css/education.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/post.css">
    <!-- <link rel="stylesheet" href="/css/syntax.css"> -->
    <link rel="stylesheet" href="/css/code.css">
    <!-- <link rel="stylesheet" href="/css/default.css"> -->
    <link rel="stylesheet" href="/css/footer.css">
</head>
